<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>  <%= @user.last_name %> ِ به سایت بازی اسم فامیل خوش آمده اید </h1>

    <p>
      شما با موفقیت در esm-famil.ir ثبت نام کرده اید,
      نام کاربدی شما: <%= @user.nickname %>.<br>
    </p>
    <p>
      برای ورود به سالت ِ روی لینک زیر کلیک کنید: <%= @url %>.
    </p>
    <p>مرسی از همراهی شماِ از بازی لذت ببرید!</p>
  </body>
</html>