/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/********* Layout ************/
.main_body {
    background-color: #9aabae;
    font-family: serif;
}


/********* Registration Page ************/
.registration_fields_container {
    border: 2px solid #c1e2b3;
}

#registration_text_fields {
    width: 20% !important;
    margin-bottom: 10px
}

#registration_day_select {
    width: 20% !important;
    margin-bottom: 10px
}

#registration_month_select {
    width: 20% !important;
    margin-bottom: 10px
}

#registration_year_select {
    width: 20% !important;
    margin-bottom: 10px
}

.registration_header {
    color: #204d74;
}